<% @products.each do |product| %>
	<section>
		<h3><%= product.product_name %></h3>

		<div>
			<%= image_tag product.image, :width => '250', :height => '150' %>
		</div>

		<p><strong>Category: </strong><%= product.category.name %></p>
		<p><strong>Description: </strong><%= product.description %></p>
		<p><strong>Price: </strong><%= number_to_currency product.product_price %></p>
		<p><strong>Available: </strong><%= product.isAvailable %></p>
		<div>
			<%= form_tag checkout_path do %>
				<%= hidden_field_tag :product_id, product.id %>
				<% label_tag 'Quantity: '%>
				<%= text_field_tag :quantity, " ", :size => '1' %>
				<%= submit_tag 'Add To Cart', :class => 'add_to_cart' %>
			<% end %>
		</div>
	</section>
<% end %>