<h2>Home</h2>

<div class="search">
	<%= form_tag search_results_path do %>
	<%= text_field_tag :keywords %>
	<%= select_tag :search_category, options_for_select(@categories.collect { |u| [u.name, u.id] }) %>
	<%= submit_tag 'Search' %>
	<% end %>
</div>

<div class="side_product_list">
	<h4>Top Favorites</h4>
	<ol>
		<li>Pudding</li>
		<li>California Roll</li>
		<li>Spider Roll n' Fire Roll</li>
		<li>Dumpling</li>
		<li>Party Sushi</li>
	</ol>
</div>

<div class="index_body">
  <image><%= image_tag 'pretty1.jpg', :width => '520' %></image>
</div>