<h2>Home</h2>

<div class="search">
	<%= form_tag search_results_path do %>
	<%= text_field_tag :keywords %>
	<%= select_tag :search_category, options_for_select(@categories.collect { |u| [u.name, u.id] }) %>
	<%= submit_tag 'Search' %>
	<% end %>
</div>

<div class="side_product_list">
	<h4>Top Favorites</h4>
	<ol>
		<li>Pudding</li>
		<li>California Roll</li>
		<li>Spider Roll n' Fire Roll</li>
		<li>Dumpling</li>
		<li>Party Sushi</li>
	</ol>
	<h4>Food Categories</h4>
		<ul>
			<% @categories.each do |category| %>
			  	<li><%= link_to category.name, categories_path(category.id) %></li>
			<% end %>
		</ul>
	<h4>Events</h4>
		<ul>
			<li>New</li>
			<li>Sales</li>
		</ul>

</div>

<div class="index_body">
  <%= image_tag 'pretty1.jpg', :width => '520' %>
</div>