<h2>Menu</h2>

<div class="search">
	<%= form_tag search_results_path do %>
	<%= text_field_tag :keywords %>
	<%= select_tag :search_category, options_for_select(@categories.collect { |u| [u.name, u.id] }) %>
	<%= submit_tag 'Search' %>
	<% end %>
</div>

<div class="prod">
	<%= render 'product', locals: {products: @products} %>
</div>